<h1>
  <%= chapter.title %>
  <% if(!chapter.published_at.nil?) %>
    - <%= sexy_date chapter.published_at %> - <%= time_ago_in_words(chapter.published_at) %>
  <% end %>
</h1>

<%= render partial: "sub_chapter", collection: chapter.children, as: :chapter %>
